body{
    width: 100%;
    height: 100vh;
    isplay: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header{
    width: 96%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}



main{
    padding: 60px;
    margin: 7px;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-start;

}

.b-main__img{
    width: 300px;
    height: 50px;

} 
 
*esto es para meter imagenes y ajustarlas dentro de un botom
.button1{
    background-image: url(img/icon1.png);
    background-size: cover; 
    background-position: center; 
    width: 250px;
    height: 47px;
}


.button2{
    background-image: url(img/icon2.png);
    background-size: cover; 
    background-position: center; 
    width: 250px;
    height: 47px;
}

.buttom{
    background-color: rgb(255, 250, 250);
    border-radius: 999px;
    border-top: 5px dashed #d5cdcd;
    border-right: 5px dashed #d5cdcd;
    border-bottom: 5px dashed #d5cdcd;
    border-left: 5px dashed #d5cdcd;
}

fieldset{
    border: 0cm;
}

.divspan{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-right: 120px;
    height: 100%;
    width: 30%;

}

.recuadro {
    width: 50px; /* Ancho del recuadro */
    height: 50px; /* Altura del recuadro */
    border: 2px solid black; /* Grosor y estilo del borde */
    font-size: 24px; /* Tamaño de la fuente */
    text-align: center; /* Alineación del texto */
    line-height: 50px; /* Ajuste de la altura de línea para centrar verticalmente el texto */
  }

.b-main__text{
    font-size: 14px;
}

